table {
  table-layout: fixed;
  text-overflow: ellipsis;
}

table th {
  height: 50px;
}

table td {
  padding: 0;
  height: 50px;
  text-overflow: ellipsis;
  max-width: 20%;
  height: 40px;
  overflow: hidden;
}

table td div {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 5px 5px 5px 5px;
}
